
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  #434455;
    background-color: #ffffff;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
h1, 
h2,
h3,
h4,
h5,
h6,
p{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol{
margin-top: 0;
margin-bottom: 0; 
padding-left: 0; 
}
h2{
    
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.list{
    list-style-type: none;
}
.container{
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
/* ---------------------Header-------------------- */
.page-header{
   
    background: #fff;
    border-bottom:  1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

margin-right: 76px;
}
.logo-span{
    color: #2E2F42;
}
.main-nav{
    display: flex;
    align-items: center;
}
.main-nav-item{
    padding-top: 24px;
    padding-bottom: 24px;
  
   
}
.main-nav-link{

color: #2E2F42;
font-family: Roboto;-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;

padding-top: 24px;
padding-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list{
    display: flex;
    gap: 40px;
}
.corrent{
    position: relative;
    color: #404bbf;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.corrent::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
    transform: scaleX(1.1);


}
.address-list{
    display: flex;
    gap: 40px;
}
.address-item{
   
}
.main-nav-link:hover,
.main-nav-link:focus{
    color: #404bbf;
    
    
}
.address{
    font-style: normal;
}
.address-link{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link:hover,
.address-link:focus{
    color: #404bbf;
  
}
/* ------------------------------Hero----------------------------*/

.page-hero{
   max-width: 1440px;
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),
    url(/images/people-office.jpg);
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container{
  
}

.hero-title{ 
    max-width: 496px;
color: #fff;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}
.hero-button{
    display: block;
font-size: 16px;
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
background: var(--IRIS, #4D5AE5);
margin-right: auto;
margin-left: auto;

min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}
/* -----------------------------Advantages-------------------------- */
.page-advantages{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}
.advantages-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.advantages-list{
    display: flex;
    gap: 24px;
}
.advantages-item{
    width: calc((100% - 72px) /4);
}
.advantages-subtitle{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.advantages-img-tumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-right: 4px;
    margin-bottom: 8px;
    border-radius: 4px;

}


.advantages-text{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*----------------------Team-------------------------- */
.page-team{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}
.team-title{
color: #2E2F42;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.team-tumb{
padding: 32px 0;

}

.team-subtitle{
    color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
text-align: center;
}
.team-text{
    color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;

}
.tiam-mes-item{
    display: flex;
    width: 40px;
    height: 40px;
   
   
    align-items: center;
}
.team-mes-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}
.icon-team{
    fill:  #f4f4fd;
}
.team-mes-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-mes-link:hover,
.team-mes-link:focus{
    background-color: #404bbf;
}

/*-----------------------------Portfolio-------------------------------*/
.page-portfolio{
    background-color: #fff;
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-title{
    color: #2E2F42;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;

margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

.portfolio-tumb{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text{
    color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.portfolio-img-tumb{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-item:hover .overlay-text,
.portfolio-img-item:focus .overlay-text{
transform: translateY(0) ;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover,
.portfolio-img-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-text{
    position: absolute;
    color: #F4F4FD;
    background-color: #4d5ae5; 
    padding: 40px 32px;
    top: 0;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 100%;
height: 100%;
transform: translateY(100%);
transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

/* Footer */
.footer{
    background-color: #2E2F42;
}
.page-footer{
    display: flex;
    background-color: #2E2F42;

    padding-top: 100px;
    padding-bottom: 100px;
    j
    
}
.logo-footer{
    color: #F4F4FD;
    margin-bottom: 18px;
}
.logo-footer-web{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    color: #F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;

max-width: 264px;
}
.footer-media{
font-size: 16px;
font-weight: 500;
color: #fff;
margin-bottom: 16px;
}
.footer-text-tumb{
    margin-right: 120px;
}
.footer-conteiner{
    display: flex;
    align-items: baseline
}
.footer-mes-list{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-mes-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mes-link:hover,
.footer-mes-link:focus{
    background-color: #31d0aa;
}
